/*
DarkSystemCD, Brackets | Theme
------------------------------
https://github.com/wds-connections
- - - - - - - - - - - - - - - - - ;
translated to javascript code options
the workflow built from DarkSystemCD (pascal)Delphi Programming.
                                   
DarkSystemCD® used to identify, meet, work and publish
logics and programming design, software, games and music
on interfaces and electronic, digital and virtual media.
                                   
WDS_Styles is a layout personality scheme
created for the presentation of WDS.DarkBrain® Productions.
                                   
available as sample usage from the original production of DarkSystemCD quality
in which as far it provides has being created from BloodArt logo(art and literature).
references should restrict moral violence from any purpose where try - catch - finnaly would affect this availability before whatever statement.
                                   
thanks for choosing DarkSystemCD.
- - - - - - - - - - - - - - - - - ;
Low Light version for screens adjusted for brightnes and contrast to 20%\30%
usage: locate your self by reading comments instead of the content,
       by placing titles on everything important before reading the actual code.
       it is better DarkSystemCD style to focus on the workflow and organization.
*/

.CodeMirror, .CodeMirror-scroll {
    background-color: #000;
    font-family: "Courier New" monospace !important;
    font-size: 120%;
    line-height: 100%;
    color: white;
}

.CodeMirror-focused .CodeMirror-activeline-background {
  background-color: rgba(102, 102, 102, 0.7);
}

.CodeMirror-gutters {
  background-color: #2A2A2A;
}

.CodeMirror-gutter-wrapper {
  background-color: #333;
}

.CodeMirror-cursor {
    border-left: 2px solid white !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-left: none !important;
    border-bottom: 3px solid #fff;
}

.CodeMirror-matchingbracket {
  background-color: transparent;
  font-weight: bold;
  color:lime !important;
  border-left: 2px solid transparent !important;
  border-right: 2px solid transparent !important;
}

.cm-m-javascript.CodeMirror-matchingbracket {
  background-color: rgba(178, 178, 178, 0.49);
  color:lime !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  font-weight: bolder;
}

.CodeMirror-nonmatchingbracket  {
  font-weight: bold;
  color:red;
}

.cm-m-clike.CodeMirror-matchingtag,
.cm-m-xml.CodeMirror-matchingtag{
  background-color: rgba(178, 178, 178, 0.45);
}

.CodeMirror-nonmatchingtag {
  font-weight: bold;
  color:red;
}

.CodeMirror-searching {
  color:yellow;
}

.CodeMirror-searching.searching-current-match {
  font-weight: bold;
  color:yellow;
}

.CodeMirror-selected {
  background-color: rgba(123, 91, 91, 0.8);
}

.CodeMirror-focused .CodeMirror-selected  {
  background: #9E6A6A;
}

.cm-comment {
  background-color: rgba(46, 98, 240, 0.6);
  color: silver !important;
  font-family: "Courier New", monospace;
  font-size: smaller !important;
  font-weight: 700 !important;
}

// -->
.cm-keyword, .cm-atom, .cm-number, .cm-def,
.cm-variable, .cm-punctuation, .cm-property,
.cm-operator, cm-variable-2, cm-variable-3,
.cm-string, .cm-string-2, .cm-meta, .cm-qualifier,
.cm-builtin, .cm-bracket, .cm-tag, .cm-attribute,
.cm-header, .cm-quote, .cm-hr, .cm-link,
.cm-negative, .cm-positive, .cm-strong, .cm-em,
.cm-strikethrouh, .cm-error, .cm-invalidchar{
  font-weight: bold !important;
  color: red;
}

/*PHP*/.cm-m-clike, /*CSS, LESS*/.cm-m-css,
/*JavaScript*/.cm-m-javascript {
  font-weight: bold !important;
  color: white;
}

/*HTML, XML*/.cm-m-xml {
  font-weight: 600;
  color: #dddde0;
}

.cm-m-clike.cm-keyword, .cm-m-css.cm-keyword,
.cm-m-xml.cm-keyword{ 
  color: silver;
} 

.cm-m-javascript.cm-keyword { 
  font-weight: bold !important;
  color: white;
}

.cm-m-css.cm-atom {
  font-style: italic;
  color: #bda4d0;
}

.cm-m-clike.cm-number, .cm-m-css.cm-number,
.cm-m-javascript.cm-number {
  color: yellow;
  font-weight: bolder !important;
}

.cm-m-css.cm-def{
  font-weight: bold;
  text-decoration: underline;
  color: #BFBEBA;
}

.cm-m-javascript.cm-def{
  color: silver;
}

.cm-m-css.cm-variable, .cm-m-javascript.cm-variable {
  color: #d3b0b0;
}

.cm-error {
  color: red;
}

.cm-m-css.cm-property {
  font-style:oblique;
  color: silver;
}

.cm-m-javascript.cm-property {
  font-style: oblique;
  color: #adadad;
}

.cm-m-javascript.cm-operator, .cm-m-xml.cm-operator {
  color: white;
}

.cm-m-javascript.cm-variable-2,
.cm-m-javascript.cm-variable-3{
  font-weight: bolder !important;
  color: silver;
}

.cm-m-clike.cm-string, .cm-m-css.cm-string, 
.cm-m-javascript.cm-string, .cm-m-xml.cm-string {
  font-weight: bolder !important;
  color: yellow;
}

.cm-m-clike.cm-string-2, .cm-m-css.cm-string-2, 
.cm-m-javascript.cm-string-2, .cm-m-xml.cm-string-2 {
  color: #ffe200;
}

.cm-m-css.cm-meta {
  color: #df9286;
}

.cm-qualifier {}

.cm-m-xml.cm-tag {
  font-weight:bolder;
  color: #829c9d;
}

.cm-m-xml.cm-attribute {
  font-style:oblique;
  color: #afa893;
}
