/* [DarkSystemCD, Brackets | Theme] https://github.com/wds-connections         ;
   --------------------------------------------------------------------------- ;
   translated to html, css, javascript code options                            ;
   the workflow built from DarkSystemCD (pascal)Delphi Programming.            ;
                                                                               ;
   DarkSystemCD® used to identify, meet, work and publish                      ;
   logics and programming design, software, games and music                    ;
   on interfaces and electronic, digital and virtual media.                    ;
                                                                               ;
   BloodArt logo used to identify, submit, and publish art and literature.     ;
   As well as the base reference that illustrate other logos.                  ;
                                                                               ;
   thePlotScheme                                                               ;
   is a theme series well structured in sessions composed in web programming.  ;
   allowing an excellent factory for production directly to the topic.         ;
   The layout of the elements and resources prepared for individuality,        ;
   provide comfort to present, and customize your posts for standard writing.  ;
                                                                               ;
   WDS_Styles is a layout personality scheme                                   ;
   created for the presentation of WDS.DarkBrain® Productions.                 ;
                                                                               ;
   WDHellS A virtual personal person trademark and nickname,                   ;
   created for display my creations enabling it’s available world wide.        ;
   --------------------------------------------------------------------------- ;
   available as sample usage from the original production of DarkSystemCD      ;
   quality in which as far it provides has being created from BloodArt logo    ;
   (art and literature).                                                       ;
   references should restrict moral violence from any purpose where            ;
   try - catch - finnaly would affect this availability before whatever        ;
   statement.                                                                  ;
                                                                               ;
   thanks for choosing DarkSystemCD.                                           ;
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ;
   DIGITAL MONITOR DISPLAY SETTINGS                                            ;
                                                                               ;
   D a r k R o o m                                                             ;
   backlight: 0; contrast: 20; brightness: 40; sharpness: 10; color: 20;       ;
   tint: 0; color temp.: 0;                                                    ;
                                                                               ;
   L i g h t R o o m                                                           ;
   backlight: 10; contrast: 20; brightness: 40; sharpness: 10; color: 25;      ;
   tint: 0; color temp.: 0;                                                    ;
   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ;
   USAGE                                                                       ;
   locate your self by reading comments instead of the content,                ;
   by placing titles on everything important before reading the actual code.   ;
   it is better DarkSystemCD style to focus on the workflow and organization.  ;
*/

.CodeMirror, .CodeMirror-scroll {
    background-color: #000;
    font-family: "Courier New" monospace !important;
    font-size: 155%;
    line-height: 115%;
    color: white;
}

.CodeMirror-focused .CodeMirror-activeline-background {
  background-color: rgba(102, 102, 102, 0.7);
}

.CodeMirror-gutters {
  background-color: #2A2A2A;
}

.CodeMirror-gutter-wrapper {
  background-color: #333;
}

.CodeMirror-cursor {
    border-left: 2px solid white !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-left: none !important;
    border-bottom: 3px solid #fff;
}

.CodeMirror-matchingbracket {
  background-color: transparent;
  font-weight: bold;
  color:lime !important;
  border-left: 2px solid transparent !important;
  border-right: 2px solid transparent !important;
}

.cm-m-javascript.CodeMirror-matchingbracket {
  background-color: rgba(178, 177, 177, 0.25);
  color:lime !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  font-weight: bolder;
}

.CodeMirror-nonmatchingbracket  {
  font-weight: bold;
  color:red;
}

.cm-m-clike.CodeMirror-matchingtag,
.cm-m-xml.CodeMirror-matchingtag{
  background-color: rgba(178, 178, 178, 0.3);
}

.CodeMirror-nonmatchingtag {
  font-weight: bold;
  color:red;
}

.CodeMirror-searching {
  color:yellow;
}

.CodeMirror-searching.searching-current-match {
  font-weight: bold;
  color:yellow;
}

.CodeMirror-selected {
  background-color: rgba(123, 91, 91, 0.8);
}

.CodeMirror-focused .CodeMirror-selected  {
  background: #9E6A6A;
}

.cm-comment {
  background-color: rgba(46, 78, 220, 0.6);
  color: silver !important;
  line-height:normal;
}

// -->
.cm-keyword, .cm-atom, .cm-number, .cm-def,
.cm-variable, .cm-punctuation, .cm-property,
.cm-operator, cm-variable-2, cm-variable-3,
.cm-string, .cm-string-2, .cm-meta, .cm-qualifier,
.cm-builtin, .cm-bracket, .cm-tag, .cm-attribute,
.cm-header, .cm-quote, .cm-hr, .cm-link,
.cm-negative, .cm-positive, .cm-strong, .cm-em,
.cm-strikethrouh, .cm-error, .cm-invalidchar{
  font-weight: 100;
  color: red;
}

/*PHP*/.cm-m-clike, /*CSS, LESS*/.cm-m-css,
/*JavaScript*/.cm-m-javascript {
  font-weight: bold;
  color: white;
}

/*HTML, XML*/.cm-m-xml {
  font-weight: 100;
  color: #d8d8d8;
}

.cm-m-clike.cm-keyword, .cm-m-xml.cm-keyword{ 
  color: silver;
}
.cm-m-css.cm-keyword{ 
  color: rgb(234, 184, 163) ;
  font-weight: bold;
  border-left: 5px solid transparent !important;
} 

.cm-m-javascript.cm-keyword { 
  font-weight: bold;
  color: white;
}

.cm-m-css.cm-atom {
  border-left: 5px solid transparent !important;
  font-style: italic;
  color: #bda4d0;
}

.cm-m-clike.cm-number, .cm-m-css.cm-number,
.cm-m-javascript.cm-number {
  color: yellow;
  font-weight: 100 !important;
}

.cm-m-css.cm-def{
  font-weight: bold;
  text-decoration: underline;
  color: #BFBEBA;
}

.cm-m-javascript.cm-def{
  color: silver;
  font-weight: 100 !important;
}

.cm-m-css.cm-variable, .cm-m-javascript.cm-variable {
  color: #d3b0b0;
}

.cm-error {
  color: red;
}

.cm-m-css.cm-property {
  font-style:oblique;
  color: silver;
  font-weight: 100 !important;
}

.cm-m-javascript.cm-property {
  font-style: oblique;
  color: #adadad;
  font-weight: 100 !important;
}

.cm-m-javascript.cm-operator, .cm-m-xml.cm-operator {
  color: white;
}

.cm-m-javascript.cm-variable-2,
.cm-m-javascript.cm-variable-3{
  font-weight: 100;
  color: silver;
}

.cm-m-clike.cm-string, .cm-m-css.cm-string, 
.cm-m-javascript.cm-string, .cm-m-xml.cm-string {
  font-weight: 100 !important;
  color: yellow;
}

.cm-m-clike.cm-string-2, .cm-m-css.cm-string-2, 
.cm-m-javascript.cm-string-2, .cm-m-xml.cm-string-2 {
  color: #ffe200;
}

.cm-m-css.cm-meta {
  color: #df9286;
}

.cm-qualifier {}

.cm-m-xml.cm-tag {
  font-weight:bolder;
  color: #829c9d;
}

.cm-m-xml.cm-attribute {
  font-style:oblique;
  color: #afa893;
}
